{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>UUM Food Delivery Service Apps</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>The proposed system is designed and developed prototype to solve all the problem statements which are stated in chapter one of this report. First of all, the developed prototype UUM Food Delivery Apps is able to solve the problem of difficulties in student in ordering food via online and can help student to may save energy / cost, and making it simpler for student. Other than that develop prototype UUM Food Delivery Apps to achieve the project objective develop functionality UUM Food Delivery Apps. By using the prototype UUM Food Deliver Service, it allow the user or UUM’s student order food via online. Other than that, by develop UUM food Delivery service can be related to the UUM action where UUM want be the cashless campus </p>
            <p>This UUM Food Delivery Apps will be useful and at same time give some advantage for the vendor or restaurant to increase their sales. In additional, it can make student easier, because lately many famous vendor like cu-mart, tealive, Pizza and more fast food vendor has establish in UUM. So in that way, the UUM environment will become crowded and make it take students a long time to buy food. This delivery apps can help student to save time and energy at the same time user can have the food still in hots conditions. This prototype have built with Django frameworks that support all the features and html to create the functionality apps. </p>
            <p>UUM food Delivery Apps prototype is suggestion menu for user make the decision. This help the user when the data collected will be used to have an recommendation menu when the user login and want to order food again. This could help user where they are confusing to select the menu or can help student easy to find the menu and repeat again. Other than that, this prototype UUM Food Delivery Apps can helps student save time to buy food more efficiency. </p>
        </div>
    </div>
</div>
{% endblock content %}
